@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-animated-gradient {
  background: linear-gradient(135deg, #2b1055, #7597de, #ff1361, #fff800);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.bg-gradient-animated {
  background: linear-gradient(
    -45deg,
    theme("colors.primary1"),
    theme("colors.primary2"),
    theme("colors.primary3")
  );
  background-size: 600% 600%;
  animation: gradient-bg;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
